.navigation {
   height: 100%;
   width: 100%;
   background-color: #ffffff;
   color: black;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   }

.category {
   height: 56px;
   width: 234px;
   display: flex;
   align-items: flex-end;
   justify-content: space-around;
   }

.categoryButtonFocus {
   border-bottom: 2px solid #5ece7b;
   color: #5ece7b;
   font-weight: 600;
   }

.categoryButton {
   border: none;
   }

.link {
   all: unset;
   cursor: pointer;
   }

.logoContainer {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   }

.shoppingCartAndCurrencyContainer {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   }

.smallContainer {
   height: 40px;
   width: 204px;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   
   position: absolute;
   right: 101px;
   top: 23px;
   }

.currencyButtonContainer {
   display: inline-block;
   position: relative;
   justify-content: center;
   align-items: center;
   gap: 7px;
	 
   }

.currencyButton {
   width: 10px;
   height:30px;
   display: flex;
   margin-top: 0.3rem;
   justify-content: center;
   align-items: center;
   border: 0;
   background-color: transparent;
   cursor: pointer;
   }

.currencyButton h3 {
   font-family: "Raleway", sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   }

.currencyContent {
   display: none;
   flex-direction: column;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 120px;
   top: 100%;
   right: -2px;
   left: -80px;
   margin-right: 100px;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   padding: 12px 16px;
   z-index: 1;
   }

.currencyButtonContainer .currencyContent {
   display: flex;
   justify-content: center;
   align-items: center;
   }

.currencyButtonText {
   font-family: Raleway, sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 160%;
   }

.currencyButtonText:hover {
   background-color: rgb(236, 236, 236);
   }

.shoppingCartButtonContainer {
   position: absolute;
   height: 25px;
   top: calc(50% - 20px / 2);
   
   flex: none;
   order: 3;
   flex-grow: 0;
   margin: 0 22px;
   }

.shoppingCartButton {
   border: 0;
   margin-top: 0.25rem;
   background-color: transparent;
   cursor: pointer;
   }

.totalItems {
   background-color: black;
   border-radius: 50%;
   color: white;
   display: inline-block;
   position: absolute;
   top: 0;
   left: 75%;
   font-size: 12px;
   line-height: 1;
   padding: 3px 7px;
   text-align: center;
   vertical-align: middle;
   white-space: nowrap;
   }

.dropDownShoppingCart {
   position: absolute;
   width: 325px;
   height: 560px;
   right: 6%;
   top: 78px;
   background-color: white;
   animation: growDown 500ms ease-in-out forwards;
   transform-origin: top center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   z-index: 1;
   }

.dropDownShoppingCartTitle {
   margin-top: 8px;
   padding-left: 16px;
   width: 95%;
   height: 26px;
   position: absolute;
   z-index: 1;
   background-color: white;
   
   font-family: Raleway, sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 160%;
   }

.itemsContainer {
   margin-top: 10px;
   height: 70%;
   width: 325px;
   overflow: scroll;
   overflow-x: hidden;
   }

.bottomContainer {
   position: absolute;
   width: 325px;
   height: 100px;
   background-color: white;
   top: 423px;
   }

.totalPriceContainer {
   width: 287px;
   margin-left: 16px;
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   }


